.Question{
    display: flex;
    flex-direction: column;
    
    width: 100%;
    height: 100%;

    border: none;
}
.Question__label{
    font-size: 24px;
    font-weight: bold;
    color: black;
    text-align: left;

    min-width: 520px;

    margin-top: 10px;
}
.Question__AnswerContainer{

    margin-top: 40px;

    display: flex;
    flex-direction: column;
    gap: 12px;

    border: none;
}